<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bucket List</title>
</head>
<body>
    <h1>Bucket List</h1>
    <p>Login <%= data.login%></p> 
    <p>id : <%= data.id%></p>
    <%dbinfo.forEach(item => {%>
        <p>city :  <%= item.city%></p> 
        <img src="<%= item.city_photo%>" alt="">
    <%})%>
</body>
</html>