<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Travel Bucket</title>
</head>
<body>
    <h1>Welcome to Travel Bucket</h1>
    <a href="https://github.com/login/oauth/authorize?client_id=4dd63b646b0043412be0&redirect_uri=http://localhost:8080/oauth/redirect">Login with github</a>
</body>
</html>